<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SnegiriPlayerSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>323179BA1C05F7B600996BCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>323179D01C05F7B600996BCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>323179DB1C05F7B600996BCA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
